<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/theme-chalk/index.css">
</head>
<body>
<div id="app">

    <div>
        <el-input style="width: 80%" v-model="filename"></el-input>
        <el-button type="primary" icon="el-icon-search">搜索</el-button>
    </div>


    <ol>
        <li v-for="b in a">
            <el-input class="el-before-font" v-model="b[0]" autosize disabled></el-input>
            <el-input class="el-before-font" v-model="b[1]" placeholder="请输入翻译内容"></el-input>
        </li>
    </ol>

    <el-button class="el-button1" type="primary" @click="get_text()">提交</el-button>
    <el-pagination class="el-button2" layout="prev,pager,next,jumper" :total="50">

    </el-pagination>
</div>

</body>
<script src="../static/js/vue.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/vue-router.min.js"></script>
<script src="../static/js/axios.js"></script>
<script src="../static/js/jquery-3.6.0.js"></script>
<script src="../static/js/echarts.js"></script>
<script>
    app = new Vue(
        {
            el: '#app',
            data: function () {
                return {
                    filename: "Timid Lucy",
                    title: "",
                    a: [["this is a test example", ""], ["hello world", ""]],
                    lines: ""
                }
            },
            created: function () {

            },
            mounted: function () {
            },
            methods: {
                get_text: function (e) {
                    var vm = this
                    input_param = {
                        filename: "Timid Lucy",
                        page_index: 20,
                        page_size: 20
                    }
                    axios.post("/get_translate_file", input_param)
                        .then(function (rsp) {
                            vm.$data.title = rsp.data['data'].title;
                            let i = 0
                            size = rsp.data['data'].data.length
                            vm.$data.a = []
                            for (i = 0; i < size; i++) {
                                tmp = [rsp.data['data'].data[i][0], rsp.data['data'].data[i][1]]
                                vm.$data.a.push(tmp)
                            }

                        })
                        .catch(function (err) {
                            vm.$message({
                                type: 'error',
                                message: err
                            })
                        })
                }
            }
        }
    )

</script>
<style>
    .el-button1 {
        margin-left: 50%;
    }

    .el-button2 {
        margin-left: 40%;
    }

    .el-before-font {
        color: #3a8ee6;
        background-color: #8cc5ff;
    }
</style>
</html>